@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  @include flex-center-all;
  gap: 20px;
  header {
    background-color: var(--clr1);
    color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    h3 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
    }
  }
}
