  @use "../../../styles.scss" as style;
  nav {
    @include style.flex-center-all;
    justify-content: flex-start;
    gap: 20px;
    padding-block: 10px;
    position: relative;
    
    header {
      gap: 5px;
      color: #010101;
      padding: 7px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 7px;
      font-family: 'OmegaRuby';
      font-size: 40px;
      cursor: pointer;
      
      img {
        max-height: 75px;
      }
      a {
        display: flex;
        align-items: center;
        
        img {
          margin-left: 7px;
        }
      }
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    .header-btns {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;
    }

    .logout-btn {
      position: absolute;
      right: 14px;

      @media (max-width: 550px) {
        position: static;
      }
    }
  }
