<nav class="main-layout">
    <header>
        <a routerLink="pokemons">
            p<span class="red">o</span>ked<span class="red">e</span>x
            <img src="assets/pokedex-logo.png" alt="">
        </a>
    </header>
    <div *ngIf="isUserLogged" class="header-btns">
        <a class="main-btn" routerLink="pokemons/search-log">Search Log</a>
        <a class="main-btn" routerLink="my-map">My Map</a>
    </div>
    <button class="main-btn logout-btn" (click)="onLogout()" *ngIf="isUserLogged">Log out</button>
</nav>