.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-4px);
    }
    
    // Card image
    .card-image {
      max-height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-content {
        padding: 16px;
        
        h3 {
          font-size: 24px;
          margin-bottom: 8px;
          text-transform: capitalize;
        }
}
    }
