<div class="search-log">
    <div class="search-log-header">
        <div class="search-container">
            <input type="text" placeholder="Search Pokemons" [(ngModel)]="searchTerm" (input)="onSearchPokemons()">
            <app-pokemon-search-list></app-pokemon-search-list>
        </div>
    </div>
    <ul>
        <li *ngFor="let searchedPokemon of recentPokemons">
            <img [src]="searchedPokemon.imageUrl" [alt]="searchedPokemon.name">
            <span>{{searchedPokemon.name}}</span>
        </li>
    </ul>
</div>