@use '../../../styles.scss' as style;
.map-container {
    @include style.flex-center-all;
    height: var(--page_height);
    flex-direction: row-reverse;
    gap: 14px;
    
    .wrapper {
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
        gap: 7px;
    }

    .map {
        height: 500px;
        width: 500px;
    }

    .map-actions {
        display: flex;
        flex-direction: column-reverse;
        gap: 7px;
        align-self: flex-start;

    }
    input {
        align-self: flex-start;
        // position: relative;
        // top: 90px;
        // width: 30%;
    }
}