// FONTS

@font-face {
  font-family: 'OmegaRuby';
  src: url('assets/fonts/omega-ruby-font/OmegaRuby-PlEB.ttf') format('truetype');
}

// MIXINS

@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
// ROOT

:root {
  --clr1: #C42A2A;
  --clr2: #f8f8f8;
  --page_height: calc(100vh - 110px);
}

// SHARED

* {
  box-sizing: border-box;
}

.main-btn {
  background-color: var(--clr2);
  color: #010101;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 -1px 0 2px rgba(82, 82, 82, 0.592);
  &:hover {
    box-shadow: inset 0 -1px 0 2px rgba(132, 0, 0, 0.592);
  }
}

.error-msg {
  margin: 0;
  padding-block-start: 3px;
  color: red;
}

input[type="text"],
select {
  background-color: #fff;
  border: 2px solid #3e3e3e35;
  border-radius: 7px;
  color: #333333;
  font-size: 16px;
  padding: 10px 20px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--clr1);
    outline: none;
  }

  &::placeholder {
    color: #999999;
  }
}

select {
  text-transform: capitalize;
  max-height: 42px;
}


body {
  margin: 0;
  font-family: sans-serif;
}

.main-layout {
  padding-inline: 70px;
}

a {
  all: unset;
}

h1,h2,h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.red {
  color: var(--clr1);
}

button {
  cursor: pointer;
  padding: 7px;
}